[user]
	name = Jonas Bülow
	email = jonas.bulow@gmail.com
[core]
	autocrlf = false
	safecrlf = false
	exludesfile = /home/jonasbu/.gitignore
	filemode = false
	deltaBaseCacheLimit = 1G
[alias]
	st = status -sb
	type = cat-file -t
	dump = cat-file -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ds = diff --staged
	dp = diff --no-prefix
	fup = log --since '1 day ago' --oneline --author <YOUR_EMAIL>  # I know what you did yesterday - great for follow-ups
	hist = log --pretty=format:\"%h %ad | %s%d | [%an]\" --graph --date=short
	ls = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short  # pretty one-line log with tags, branches and authors
	lsv = log --pretty=format:"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]" --decorate --date=short --numstat    # a verbose ls, shows changed files too
	graph = log --graph --color --decorate --oneline --all

	# some resets without explanation
	r = reset
	r1 = reset HEAD^
	r2 = reset HEAD^^
	rh = reset --hard
	rh1 = reset HEAD^ --hard
	rh2 = reset HEAD^^ --hard
	
	# basic shortcuts
	cp = cherry-pick
	cl = clone
	ci = commit
	co = checkout
	br = branch 
	wdiff = diff --word-diff
	dc = diff --cached
	
	# stash shortcuts
	sl = stash list
	sa = stash apply
	ss = stash save
	
	# log related - thanks to @mwd410
	l = log 
	lh = log --graph
	la = !git lh --date-order --all 2> /dev/null
	lb = log --graph --simplify-by-decoration
	lba = !git lb --all 
	h = !git --no-pager log --graph -n 15
	a = !git --no-pager la -n 15

	# other
    	brs = for-each-ref --sort=-committerdate --format="%(committerdate:relative)%09%(refname:short)" refs/heads
    	treelog = log --all --graph --decorate --oneline
	# http://zarino.co.uk/post/git-set-upstream
	unstage = reset HEAD
  	undo-commit = reset --soft HEAD^
  	poh = push origin HEAD
  	pulloh = pull origin HEAD
  	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`

# From http://lauris.github.io/development/2014/09/01/git-aliases/
	# Show unpushed changes
	unpushed = log --stat origin/master..HEAD
	# Show unpushed changes
	gg = grep --break --heading -n
	# Simple list of commits (colored)
	scl = log --graph --pretty=format:"%an: %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset" --date=relative

	scls = log --pretty=format:"%an (%ae): %C(yellow)%s%Creset" --shortstat
	# Fix commit message
	fc = commit --amend -m
	# Overview of file
	fo = log --pretty=oneline --shortstat --abbrev-commit
	# Show a word diff
	wdiff = diff --word-diff

# Jonas
	rub = !git for-each-ref --sort='-committerdate' --format='%(committerdate)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'
	
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto

[push]
	default = simple
[color "branch"]
	current = green
	local = normal
	remote = red
	plain = normal
